Common/
*.suo
*.old
*.sln
*.sdf
*.opensdf
*.dsw
*.dsp
*.txt
*.user
*.filters
*.vcxproj
*.vcproj
*.db
*.XML
*.rc
*.clw
*.aps
*.htm
*.tlog
*.sbr
*.obj
*.asm
*.res
*.pdb
*.log
*.lastbuildstate
*.ilk
*.exe
*.bsc
*.idb
*.ipch
*.map
*.ini
Buckland_Chapter7 to 10_Raven/lua/
